<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script type="text/javascript">
	$(document).ready(function()
	{
	  $('body').addClass('xepo_ads');
	});

	$(document).on('click','.xepo_ads',function(e)
	{
	    $(this).removeClass('xepo_ads');

	    //ubah google dengan ads direct link
	    window.open('https://yellowimages.com/all/objects/?yi=363287', '_blank');
	});
</script>


<script type="text/javascript">
	atOptions = {
		'key' : '78d8aba6df4103fe34b86ef60bd1e7e3',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://antarcticoffended.com/78d8aba6df4103fe34b86ef60bd1e7e3/invoke.js"></scr' + 'ipt>');
</script>
